---
import { Image } from 'astro:assets';
import contact from '../data/contact.json';
import ProfileLogo from '../assets/hjeum_profile.png';
import LinkedInIcon from '../assets/linkedin-icon.svg';
import BlueskyLogo from '../assets/bluesky-logo.svg';
---

<nav id='nav-bar'>
  <a
    href='/abstract'
    id='home-link'>
    <Image
      id='my-logo'
      src={ProfileLogo}
      alt="HoJoon Eum's personal logo"
    />
  </a>
  <h4
    id='myname'
    class='roboto-condensed'>
    음호준 / 陰昊俊（ウムホジュン） / HoJoonEum
  </h4>
  <div id='links'>
    <a href='https://medium.com/@bldolphin96'>techblog</a>
    /
    <a href='https://amans-cumulus.tistory.com/'>hobbyblog</a>
  </div>
  <div id='contacts'>
    <a href=`mailto:${contact.email}`>@email</a>
    /
    <a href={contact.linkedIn}>
      <Image
        width={10}
        height={10}
        src={LinkedInIcon}
        alt='LinkedIn'
      />
    </a>
    /
    <a
      href={contact.github}
      id='github-link'>
    </a>
    /
    <a href={contact.bluesky}>
      <Image
        width={10}
        height={10}
        src={BlueskyLogo}
        alt='Bluesky'
      />
    </a>
  </div>
</nav>

<style>
  #nav-bar {
    position: sticky;
    top: 0;
    display: flex;
    width: 100vw;
    height: auto;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    z-index: calc(var(--Depth-Lobby) * 1px);
    padding: calc(var(--Thickness-Thin) * 1px)
      calc(var(--Thickness-Thicker) * 2px);
    color-scheme: light dark;
    border-bottom: 5px solid var(--Tints-neutral-7);
  }
  @media (prefers-color-scheme: light) {
    #nav-bar {
      background-color: var(--Tints-neutral-0);
      border-bottom: 5px solid var(--Tints-red-7);
    }
  }
  @media (prefers-color-scheme: dark) {
    #nav-bar {
      background-color: var(--Shades-neutral-0);
      border-bottom: 5px solid var(--Tints-green-7);
    }
  }
  #nav-bar #links > a {
    font-size: small;
    font-weight: 200;
  }
  #home-link {
    display: flex;
    align-items: center;
  }
  #myname {
    font-weight: 300;
    font-size: calc(0.8rem + 0.5vw);
    margin: 1rem 0;
  }
  #my-logo {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    border-color: var(--Tints-neutral-8);
    border-width: 2px;
    border-style: solid;
  }
  #github-link::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
  }
  @media (prefers-color-scheme: light) {
    #my-logo {
      border-color: var(--Tints-red-8);
    }
    #github-link::after {
      background-image: url('../assets/github-mark.svg');
    }
  }
  @media (prefers-color-scheme: dark) {
    #my-logo {
      border-color: var(--Tints-green-8);
    }
    #github-link::after {
      background-image: url('../assets/github-mark-white.svg');
    }
  }
  #contacts > a {
    font-weight: 200;
    font-size: small;
  }
</style>
